# 주피터랩 단축키
- a : 위쪽 셀 추가
- b : 아래쪽 셀 추가
- 1,2,3.. : 글자 크기 / 1이 제일 큼
- Ctrl+shift+위 : 셀 위로 이동
- Ctrl+shift+아래 : 셀 아래로 이동
- shift+Enter : 셀 실행
- dd : 셀 삭제
- x : 셀 잘라내기
- c : 셀 복사
- v : 셀 붙여넣기
- z : undo (되살리기)
- shift+Z : redo (다시진행)

# 기초

In [1]:
print('주피터랩에 처음이에요')
print('사실은 두번째~')
# Code에서 글 앞머리에 # 추가 시 주석처리됨

주피터랩에 처음이에요
사실은 두번째~

In [2]:
print(1277+3333)

4610

In [3]:
print('배고프다',end='')
print('배고프다',end='\n')
print('근데',end='말입니다.')
# '문자'를 출력하고, 끝에 '말입니다.'를 붙임
# end='' : 그 다음과 이어서 출력 (여러줄을 한줄로 출력 시)
# end='\n' : 줄 띄움
print('배고프다',end='\r') 
# 앞으로 커서 이동 (한줄에 계속 차례로 출력하게 됨)

배고프다배고프다
근데말입니다.배고프다

In [4]:
import time as t
print('배고프다',end='\r')
t.sleep(1)
print('근데',end='\r')
t.sleep(1)
print('시간이 많이 남았어..')

시간이 많이 남았어..

In [5]:
print(1,2,3,4,5, sep='-')

1-2-3-4-5

# 자료형

## 숫자형

In [6]:
# 사칙연산 예시
sachik = 777
sem = 100
print('덧셈',sachik + sem, end='\n\n') #2줄 띄우고 싶으면 \n 2번 사용하면 됨
print('뺼셈',sachik - sem, end=' !! ')
print('곱셈',sachik * sem, end=' !! ')
print('나눗셈',sachik / sem, end=' !! ')
print('몫',sachik // sem, end=' !! ')
print('니머지',sachik % sem, end=' !! ')
print('승',sachik ** 2, end=' !! ')

덧셈 877

뺼셈 677 !! 곱셈 77700 !! 나눗셈 7.77 !! 몫 7 !! 니머지 77 !! 승 603729 !!

In [7]:
sachik = 777
sem = 100
print('덧셈',sachik + sem, end='\n==============\n')
print('뺼셈',sachik - sem, end='\n==============\n')
print('곱셈',sachik * sem, end='\n==============\n')
print('나눗셈',sachik / sem, end='\n==============\n')
print('몫',sachik // sem, end='\n==============\n')
print('니머지',sachik % sem, end='\n==============\n')
print('승',sachik ** 2, end='\n==============\n')

덧셈 877
==============
뺼셈 677
==============
곱셈 77700
==============
나눗셈 7.77
==============
몫 7
==============
니머지 77
==============
승 603729
==============

In [8]:
# 정수형
a = 123
b = -178
c = 0
print(a,b,c)

123 -178 0

In [9]:
# 실수형
aa = 1.2
bb = -3.14
cc = 4.24e10
print(aa,bb,cc)

1.2 -3.14 42400000000.0

In [10]:
# 8진수(oct)
a = 0o177
print(a)

127

In [11]:
# 16진수(hex)
a = 0x8ff
b = 0xabc
print(b)

2748

In [12]:
a = 3
b = 4
print(a**b)

81

In [13]:
# 복합 연산자
a = 1
a = a + 1    # a += 1 도 가능
print(a)
a = a + 1
print(a)
a = a + 1
print(a)

2
3
4

In [14]:
# 복합 연산자
a = 1
a -= 1
print(a)
a -= 1
print(a)
a -= 1
print(a)

0
-1
-2

In [15]:
# 복합 연산자
# +=, -=, *=, /=, %=, **=

In [16]:
a = 10*18**2+2*11
print(a)

3262

In [17]:
a = 14
b = 3
print(a//b)
print(a%b)

4
2

## 문자열 자료형

### 문자열 연산하기

In [19]:
# 주석처리입니다.
str1 = '문자형입니다.'
print(str1)

# 여러줄 주석은 공식적으로 지원하는 건 아님
str2 = '''
이것은 여러 줄 문자열 처리입니다.
'''
print(str2)

str3 = """
이것도 여러 줄 문자열 입니다.
"""
print(str3)

문자형입니다.

이것은 여러 줄 문자열 처리입니다.


이것도 여러 줄 문자열 입니다.

In [20]:
# food = 'python's favorite food is perl' / 인식이 불가하여 에러(구문오류) 발생
food = 'python\'s favorite food is perl'  # 작은따옴표 전 역슬래시를 넣어주어 문자열에 포함시키면 정상적으로 작동
print(food)
food1 = "python's favorite food is perl"
print(food1)

python's favorite food is perl
python's favorite food is perl

In [21]:
# say = '"Python is very easy." he says.' / 작은따옴표 안에 사용한 큰 따옴표는 문자열을 만드는 기호로 인식 불가
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food,say)

Python's favorite food is perl "Python is very easy." he says.

In [22]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [23]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

<table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\n</code></td>
<td>문자열 안에서 줄을 바꿀 때 사용</td>
</tr>
<tr>
<td><code>\t</code></td>
<td>문자열 사이에 탭 간격을 줄 때 사용</td>
</tr>
<tr>
<td><code>\\</code></td>
<td><code>\</code>를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\'</code></td>
<td>작은따옴표(')를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>큰따옴표(")를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\r</code></td>
<td>캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)</td>
</tr>
<tr>
<td><code>\a</code></td>
<td>벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>백 스페이스</td>
</tr>
<tr>
<td><code>\000</code></td>
<td>널 문자</td>
</tr>
</tbody>
</table>

In [24]:
# 문자열 연산하기
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

In [25]:
# 문자열 곱하기
a = "python"
print(a * 2)

b = "python" + " "
print(b * 2)

c = "python" + "\n"
print(c * 2)

pythonpython
python python
python
python

In [4]:
# 숫자계산
p1 = 5500 * 3
p2 = 7200 * 1
p3 = 6600 * 2

# 문자열 계산
m1 = "아메리카노 : " + str(p1) + "원\n"  #문자랑 숫자는 더할 수 없음. str() => 문자형으로 인식
m2 = "라떼 : " + str(p2) + "원\n"
m3 = "허브티 : " + str(p3) + "원"
title = "     " + "영 수 증" # 문자와 문자는 더할 수 있다

# [출력조합]

#방법1
print("=" * 20 + "\n" + title + "\n" + "=" * 20 + "\n" + str(m1 + m2 + m3) + "\n" + "=" * 20)

#방법2
p4 = "=" * 20
p5 = title
p6 = m1+m2+m3
print(p4+"\n"+ p5+"\n"+ p4+"\n"+ p6+"\n"+ p4+"\n")

#방법3
pp = ''
pp += ("=" * 20)+'\n' # 문자랑 숫자는 곱할 수 있다.
pp += (title)+'\n'
pp += ("=" * 20)+'\n'
pp += (m1+m2+m3)+'\n'
pp += ("=" *20)
print(pp,len(pp))

====================
     영 수 증
====================
아메리카노 : 16500원
라떼 : 7200원
허브티 : 13200원
====================
====================
     영 수 증
====================
아메리카노 : 16500원
라떼 : 7200원
허브티 : 13200원
====================

====================
     영 수 증
====================
아메리카노 : 16500원
라떼 : 7200원
허브티 : 13200원
==================== 112

### 문자열 인덱싱과 슬라이싱

In [5]:
a = "Life is too short"
print(len(a))

#Life 출력
print(a[0],a[1],a[2],a[3])
#too 출력
print(a[8],a[9],a[10])
#tr 출력
print(a[-1],a[-2])

17
L i f e
t o o
t r

In [6]:
a = "You need python"
print(len(a))

15

In [7]:
# 0 <= a < 3
a = "Life is too short, You need python"
print(a[8:11]) # 8 <= a < 11
print(a[23:27]) # 23 <= a < 27

too
need

In [8]:
print(a[:27])  #print(a[0:27])

Life is too short, You need

In [9]:
print(a[28:])

python

In [10]:
print(a[::-1])

nohtyp deen uoY ,trohs oot si efiL

In [11]:
today = "20250203오늘은화창하다"
num = today[:8] # 0 <= today < 8
han = today[8:] # 8 <= today < 끝까
print(num)
print(han)

20250203
오늘은화창하다

In [12]:
today = "2025년 02월 03일 오늘은 화창하다!"
a = today[:4]    # 0 <= today < 4
b = today[4:5]   # 4 <= today < 5
c = today[6:8]   # 6 <= today < 8
d = today[8:9]   # 8 <= today < 9
e = today[10:12] # 10 <= today < 12
f = today[12:13] # 12 <= today < 13
g = today[14:17] # 14 <= today < 17
h = today[18:]   # 18 <= today < 끝

print(a+"\n"+b+"\n"+c+"\n"+d+"\n"+e+"\n"+f+"\n"+g+"\n"+h)
print(today[::-1])

2025
년
02
월
03
일
오늘은
화창하다!
!다하창화 은늘오 일30 월20 년5202

In [13]:
import requests
url = 'https://v.daum.net/v/20250203151815463'
res = requests.get(url).text
result = res[374:411]
out = result[:-2] + '3' + result[-1]
print(result)
print(out)
print("한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배")

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 2배
한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배
한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배

In [14]:
#목표출력

import requests
url = 'https://blog.naver.com/droad777'
res = requests.get(url).text
print(res[895:915])
print("뿌요의 톡쏘는 일상 : 네이버 블로그")

뿌요의 톡쏘는 일상 : 네이버 블로그
뿌요의 톡쏘는 일상 : 네이버 블로그

### 문자열 포매팅

In [15]:
print("I eat 3 apples.")
print("I eat %d apples." %17) #숫자형
print("I eat %s apples." %"five") #문자

I eat 3 apples.
I eat 17 apples.
I eat five apples.

<table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>%s</td>
<td>문자열(String)</td>
</tr>
<tr>
<td>%c</td>
<td>문자 1개(character)</td>
</tr>
<tr>
<td>%d</td>
<td>정수(Integer)</td>
</tr>
<tr>
<td>%f</td>
<td>부동소수(floating-point)</td>
</tr>
<tr>
<td>%o</td>
<td>8진수</td>
</tr>
<tr>
<td>%x</td>
<td>16진수</td>
</tr>
<tr>
<td>%%</td>
<td>Literal % (문자 <code>%</code> 자체)</td>
</tr>
</tbody>
</table>

In [16]:
print("사람 몸의 수분은 %d%% 이다" %60) #

사람 몸의 수분은 60% 이다

In [17]:
print("십진수로는 %d은 16진수로 %x이다." %(123,123))
print("십진수로는 %d은 8진수로 %o이다." %(123,123))

십진수로는 123은 16진수로 7b이다.
십진수로는 123은 8진수로 173이다.

In [18]:
print("십진수로는 %d은 16진수로 %x이고 8진수로 %o이다." %(100,100,100))

십진수로는 100은 16진수로 64이고 8진수로 144이다.

In [19]:
# 정률과 공백 (우측 정렬)
print("%-10s" % "hi")

hi

<img src="attachment:b9972659-402b-42a4-aefe-516232d63d55.png" width=300>

In [ ]:
# 정률과 공백 (음수일때, 좌측 정렬)
print("%-10sjane." % 'hi')

In [ ]:
# 소수점 표현
print("%0.2f" %3.141592) 
# %s(문자)로 출력은 가능하나 계산이 불가함 / 통계나 계산 시 필수
print("%10.2f" %3.141592) # 점도 칸에 포함

<img src="attachment:0bedebde-a3cd-4b40-9fbd-f83a6bc80285.png" width=300>

### format 함수를 사용한 포매팅

In [21]:
# 숫자대입 / print(표현할값.format)
print("I eat {0} of {1} apples".format(3,10))

I eat 3 of 10 apples

In [22]:
# 변수대입, 2개 이상 값
total = 10
ea = "three"
print("I eat {0} of {1} apples".format(ea,total))

I eat three of 10 apples

In [23]:
# 이름으로 넣기
print("I eat {ea} of {total} apples".format(ea="three",total=10))

I eat three of 10 apples

In [24]:
# 인덱스와 이름 혼용
print("I eat {0} apples. so I was sick for {day} days.".format(10, day=3))

I eat 10 apples. so I was sick for 3 days.

In [25]:
# 위치 정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))

hi
        hi
    hi

In [26]:
# 공백 채우기
print("{0:=^10}".format("hi"))
print("{0:ㅋ^20}".format("웃겨"))

====hi====
ㅋㅋㅋㅋㅋㅋㅋㅋㅋ웃겨ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

In [27]:
# 소수점 표현
pi = 3.141592
print("{0:20.4f}".format(pi))

              3.1416

In [28]:
# 이스케이프 처리
print("{0}는 {{과}} 입니다.".format("중괄호"))

중괄호는 {과} 입니다.

In [29]:
# 2진수 처리
print("{0:0>8b}".format(123))

01111011

### f문자열 포매팅

In [30]:
# " ".format() -> f" "
name = "박수민"
age = 24
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")
print(f"내년에는 {age+1} 살이 됩니다.")

나의 이름은 박수민입니다. 나이는 24입니다.
내년에는 25 살이 됩니다.

In [31]:
d = {'name' : '박수민','age' : 24, 'gen' : 'male'}
print(f'나의 이름은 {d["name"]} 입니다. 나이는 {d["age"]} 입니다. 성별은 {d["gen"]} 입니다.')

나의 이름은 박수민 입니다. 나이는 24 입니다. 성별은 male 입니다.

In [32]:
# 위치 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

hi
        hi
    hi

In [33]:
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

====hi====
hi!!!!!!!!

In [34]:
y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

3.4213
    3.4213

In [35]:
print(f'{{and}}')

{and}

In [36]:
print(f'{"python":!^12}')

!!!python!!!

### 문자열 관련 함수들

In [37]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [38]:
import requests
url = 'https://v.daum.net/v/20250203151815463'
res = requests.get(url).text
result = res[374:411]
out = result[:-2] + '3' + result[-1]
print(out)
print(out.count('한국'))

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배
1

In [39]:
# 위치 알려주기 find
print(out)
print(out.find('코'))
print(out.find('밥'))

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배
16
-1

In [40]:
import requests
url = 'https://v.daum.net/v/20250203151815463'
res = requests.get(url).text
print(res.find('한'))

374

In [41]:
import requests
url = 'https://music.apple.com/kr/playlist/%EC%98%A4%EB%8A%98%EC%9D%98-top-100-%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD/pl.d3d10c32fbc540b38e266367dc8cb00c' 
res = requests.get(url).text
print(res.find('toxic till the end'))
# print(res.index('toxic till the end')) #없으면 오류발생
print('좋아하는 노래 제목:', res[41529:41547])

41529
좋아하는 노래 제목: toxic till the end

In [42]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
# *문자열 삽입 join*
# 리스트,튜플을 문자열로
print(",".join("abcdefg"))
print(",".join(['a','b','c','d','e']))

a,b,c,d,e,f,g
a,b,c,d,e

In [44]:
# 소문자>대문자 upper
a = "hi"
print(a.upper())

HI

In [45]:
# 대문자>소문자 lower
a = "HI"
print(a.lower())

hi

In [46]:
# 연습
v = "life id Egg"
big = v.upper()
small = v.lower()
print(v)
print(big)
print(small)

life id Egg
LIFE ID EGG
life id egg

In [47]:
# 공백 지우기
a = "        hi        "
print(a)
print(a.lstrip())
print(a.rstrip())
print(a.strip())

        hi
hi
        hi
hi

In [48]:
f = f"{"hi:^20"}"
f1 = f.lstrip()
f2 = f.rstrip()
f3 = f.strip()
print(f)
print(f1)
print(f2)
print(f3)

hi:^20
hi:^20
hi:^20
hi:^20

In [49]:
# 문자열 바꾸기 replace **
a = "Life is Egg"
c = a.replace("Egg","beautiful")
print(a)
print(c)

Life is Egg
Life is beautiful

In [50]:
# 문자열 나누기 split *
# 문자열을 배열로
a = "Life is Egg"
aa = a.split()
cc = a.split('-')
print(aa)
print(cc)
b = "a:b:c:d"
bb = b.split(':')
print(bb)

['Life', 'is', 'Egg']
['Life is Egg']
['a', 'b', 'c', 'd']

In [51]:
# 연습
ex = "abcdefghi"
ex2 = ex.split()
print(ex2)
ex_join = "=".join(ex)
print(ex_join)
ex_split = ex_join.split("=")
print(ex_split)
ex_replace = ex_join.replace("=","")
print(ex_replace)

['abcdefghi']
a=b=c=d=e=f=g=h=i
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
abcdefghi